/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
/* line 21, ../sass/base/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
/* line 31, ../sass/base/_reset.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
/* line 42, ../sass/base/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
/* line 52, ../sass/base/_reset.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
/* line 68, ../sass/base/_reset.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
/* line 82, ../sass/base/_reset.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */
/* line 90, ../sass/base/_reset.scss */
body {
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
/* line 104, ../sass/base/_reset.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* line 114, ../sass/base/_reset.scss */
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
/* line 128, ../sass/base/_reset.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 133, ../sass/base/_reset.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 138, ../sass/base/_reset.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 143, ../sass/base/_reset.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 148, ../sass/base/_reset.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 153, ../sass/base/_reset.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
/* line 162, ../sass/base/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
/* line 171, ../sass/base/_reset.scss */
b,
strong {
  font-weight: bold;
}

/* line 175, ../sass/base/_reset.scss */
blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
/* line 183, ../sass/base/_reset.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
/* line 191, ../sass/base/_reset.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */
/* line 201, ../sass/base/_reset.scss */
p,
pre {
  margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
/* line 213, ../sass/base/_reset.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
/* line 223, ../sass/base/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
/* line 236, ../sass/base/_reset.scss */
q {
  quotes: none;
}

/* 2 */
/* line 243, ../sass/base/_reset.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 248, ../sass/base/_reset.scss */
small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
/* line 258, ../sass/base/_reset.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 265, ../sass/base/_reset.scss */
sup {
  top: -0.5em;
}

/* line 269, ../sass/base/_reset.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
/* line 285, ../sass/base/_reset.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 289, ../sass/base/_reset.scss */
dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7
 */
/* line 299, ../sass/base/_reset.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7
 */
/* line 308, ../sass/base/_reset.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 324, ../sass/base/_reset.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
 */
/* line 333, ../sass/base/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
/* line 346, ../sass/base/_reset.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
/* line 359, ../sass/base/_reset.scss */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */
/* line 367, ../sass/base/_reset.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
/* line 379, ../sass/base/_reset.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
/* line 395, ../sass/base/_reset.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
/* line 407, ../sass/base/_reset.scss */
button,
input {
  line-height: normal;
  /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
/* line 421, ../sass/base/_reset.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 432, ../sass/base/_reset.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
/* line 444, ../sass/base/_reset.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
/* line 456, ../sass/base/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
/* line 468, ../sass/base/_reset.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
/* line 478, ../sass/base/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
/* line 488, ../sass/base/_reset.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
/* line 502, ../sass/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/base/_layout.scss */
a, p {
  font-size: 12px;
}

/* line 5, ../sass/base/_layout.scss */
a {
  color: #333;
  text-decoration: none;
}
/* line 9, ../sass/base/_layout.scss */
a:hover {
  color: #000;
  text-decoration: underline;
}

/* line 15, ../sass/base/_layout.scss */
p {
  color: #7a7a7a;
}
/* line 18, ../sass/base/_layout.scss */
p.signleline {
  margin: 0;
  padding: 0;
}

/* line 25, ../sass/base/_layout.scss */
ul,
ol {
  font-size: 12px;
}

/* line 31, ../sass/base/_layout.scss */
.nav,
.nav li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
}

/* line 39, ../sass/base/_layout.scss */
body {
  background: #f1efe9;
}

/* line 43, ../sass/base/_layout.scss */
.layout {
  width: 1005px;
  margin-left: auto;
  margin-right: auto;
}

/* 按钮 */
/* line 7, ../sass/base/_button.scss */
.btn {
  min-width: 50px;
  height: 27px;
  text-decoration: none;
  font-size: 12px;
  line-height: 27px;
  vertical-align: bottom;
  text-align: center;
  border: 1px solid #ccc;
  padding: 0 10px;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 26, ../sass/base/_button.scss */
.btn i {
  margin-right: 3px;
}
/* line 30, ../sass/base/_button.scss */
.btn.btn-large {
  height: 32px;
  font-size: 14px;
  line-height: 32px;
}
/* line 35, ../sass/base/_button.scss */
.btn.btn-small {
  min-width: 0;
  height: 20px;
  font-size: 10px;
  line-height: 20px;
}

/* 蓝色 */
/* line 44, ../sass/base/_button.scss */
.btn-ok2 {
  color: #fff;
  border-color: #bb0022;
  background-color: #ee002c;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ee002c), color-stop(100%, #d40027));
  background-image: -webkit-linear-gradient(top, #ee002c, #d40027);
  background-image: -moz-linear-gradient(top, #ee002c, #d40027);
  background-image: -o-linear-gradient(top, #ee002c, #d40027);
  background-image: linear-gradient(top, #ee002c, #d40027);
}
/* line 51, ../sass/base/_button.scss */
.btn-ok2:hover {
  color: #fff;
  border-color: #880019;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d40027), color-stop(100%, #d40027));
  background-image: -webkit-linear-gradient(top, #d40027, #d40027);
  background-image: -moz-linear-gradient(top, #d40027, #d40027);
  background-image: -o-linear-gradient(top, #d40027, #d40027);
  background-image: linear-gradient(top, #d40027, #d40027);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
/* line 57, ../sass/base/_button.scss */
.btn-ok2 i {
  background-image: url("../images/glyphicons-halflings-white.png");
}
/* line 61, ../sass/base/_button.scss */
.btn-ok2.disabled, .btn-ok2[disabled] {
  border-color: #550010;
  background: #880019;
  color: rgba(255, 255, 255, 0.5);
}

/* line 71, ../sass/base/_button.scss */
.btn-ok,
.btn-cancel {
  color: #444;
  border-color: #dcdcdc;
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #f1f1f1));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
}
/* line 76, ../sass/base/_button.scss */
.btn-ok:hover,
.btn-cancel:hover {
  color: #222;
  border-color: #c6c6c6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #f1f1f1));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* 红色 */
/* line 85, ../sass/base/_button.scss */
.btn-important {
  color: #fff;
  border-color: #c30;
  background-color: #d14836;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dd4b39), color-stop(100%, #d14836));
  background-image: -webkit-linear-gradient(top, #dd4b39, #d14836);
  background-image: -moz-linear-gradient(top, #dd4b39, #d14836);
  background-image: -o-linear-gradient(top, #dd4b39, #d14836);
  background-image: linear-gradient(top, #dd4b39, #d14836);
}
/* line 90, ../sass/base/_button.scss */
.btn-important i {
  background-image: url("../images/glyphicons-halflings-white.png");
}
/* line 93, ../sass/base/_button.scss */
.btn-important:hover {
  color: #fff;
  border-color: #c00;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d14836), color-stop(100%, #d14836));
  background-image: -webkit-linear-gradient(top, #d14836, #d14836);
  background-image: -moz-linear-gradient(top, #d14836, #d14836);
  background-image: -o-linear-gradient(top, #d14836, #d14836);
  background-image: linear-gradient(top, #d14836, #d14836);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* 绿色 */
/* line 102, ../sass/base/_button.scss */
.btn-success {
  color: #fff;
  border-color: #29691d;
  background-color: #3d9400;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3d9400), color-stop(100%, #398a00));
  background-image: -webkit-linear-gradient(top, #3d9400, #398a00);
  background-image: -moz-linear-gradient(top, #3d9400, #398a00);
  background-image: -o-linear-gradient(top, #3d9400, #398a00);
  background-image: linear-gradient(top, #3d9400, #398a00);
}
/* line 107, ../sass/base/_button.scss */
.btn-success:hover {
  color: #fff;
  border-color: #29691d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #398a00), color-stop(100%, #398a00));
  background-image: -webkit-linear-gradient(top, #398a00, #398a00);
  background-image: -moz-linear-gradient(top, #398a00, #398a00);
  background-image: -o-linear-gradient(top, #398a00, #398a00);
  background-image: linear-gradient(top, #398a00, #398a00);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* 黄色 */
/* line 115, ../sass/base/_button.scss */
.btn-warning {
  color: #FFF;
  border-color: #e08d01;
  background-color: #faa732;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffa001), color-stop(100%, #f39800));
  background-image: -webkit-linear-gradient(top, #ffa001, #f39800);
  background-image: -moz-linear-gradient(top, #ffa001, #f39800);
  background-image: -o-linear-gradient(top, #ffa001, #f39800);
  background-image: linear-gradient(top, #ffa001, #f39800);
}
/* line 120, ../sass/base/_button.scss */
.btn-warning:hover {
  color: #FFF;
  border-color: #e08d01;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f39800), color-stop(100%, #f39800));
  background-image: -webkit-linear-gradient(top, #f39800, #f39800);
  background-image: -moz-linear-gradient(top, #f39800, #f39800);
  background-image: -o-linear-gradient(top, #f39800, #f39800);
  background-image: linear-gradient(top, #f39800, #f39800);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* 黑色 */
/* line 128, ../sass/base/_button.scss */
.btn-inverse {
  color: #FFF;
  border-color: #000;
  background-color: #262626;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #454545), color-stop(100%, #262626));
  background-image: -webkit-linear-gradient(top, #454545, #262626);
  background-image: -moz-linear-gradient(top, #454545, #262626);
  background-image: -o-linear-gradient(top, #454545, #262626);
  background-image: linear-gradient(top, #454545, #262626);
}
/* line 133, ../sass/base/_button.scss */
.btn-inverse:hover {
  color: #FFF;
  border-color: #000;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #262626), color-stop(100%, #262626));
  background-image: -webkit-linear-gradient(top, #262626, #262626);
  background-image: -moz-linear-gradient(top, #262626, #262626);
  background-image: -o-linear-gradient(top, #262626, #262626);
  background-image: linear-gradient(top, #262626, #262626);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* line 142, ../sass/base/_button.scss */
a.btn {
  text-decoration: none;
  cursor: pointer;
}

/* line 149, ../sass/base/_button.scss */
button.btn,
input[type='submit'].btn {
  min-width: 65px;
  height: 28px;
  line-height: normal;
}
/* line 153, ../sass/base/_button.scss */
button.btn.small,
input[type='submit'].btn.small {
  min-width: 0;
  height: 22px;
  font-size: 9px;
  line-height: normal;
}

/* line 1, ../sass/base/_breadcrumb.scss */
.breadcrumb {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  *zoom: 1;
}
/* line 4, ../sass/_mixin.scss */
.breadcrumb:before, .breadcrumb:after {
  display: table;
  content: "";
}
/* line 8, ../sass/_mixin.scss */
.breadcrumb:after {
  clear: both;
}
/* line 9, ../sass/base/_breadcrumb.scss */
.breadcrumb li {
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
  margin-right: 3px;
  color: #7c7c7b;
}
/* line 17, ../sass/base/_breadcrumb.scss */
.breadcrumb li a {
  color: #7c7c7b;
}

/* line 1, ../sass/base/_form.scss */
.form {
  font-size: 12px;
}
/* line 5, ../sass/base/_form.scss */
.form .control-group {
  margin-bottom: 20px;
  *zoom: 1;
}
/* line 4, ../sass/_mixin.scss */
.form .control-group:before, .form .control-group:after {
  display: table;
  content: "";
}
/* line 8, ../sass/_mixin.scss */
.form .control-group:after {
  clear: both;
}
/* line 11, ../sass/base/_form.scss */
.form .control-label {
  display: block;
  float: left;
  width: 80px;
  text-align: right;
  line-height: 26px;
  color: #676767;
}
/* line 21, ../sass/base/_form.scss */
.form .controls {
  margin-left: 100px;
}
/* line 27, ../sass/base/_form.scss */
.form input[type="text"],
.form input[type="password"] {
  width: 200px;
  height: 18px;
  padding: 3px;
  line-height: 18px;
  border: none;
  background: none;
  outline: none;
  border: solid 1px #c7c6c2;
}
/* line 38, ../sass/base/_form.scss */
.form input[type="text"]:focus,
.form input[type="password"]:focus {
  border-color: #999;
}

/* line 1, ../sass/base/_header.scss */
#header {
  width: 100%;
  height: 83px;
  background: url(../images/header_bg.jpg) repeat-x;
}
/* line 7, ../sass/base/_header.scss */
#header .logo {
  float: left;
  padding-top: 20px;
}
/* line 13, ../sass/base/_header.scss */
#header .nav {
  float: right;
  padding-top: 44px;
}
/* line 18, ../sass/base/_header.scss */
#header .nav li {
  float: left;
  margin-left: 15px;
  color: #fff;
  font-size: 12px;
}
/* line 24, ../sass/base/_header.scss */
#header .nav li a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
/* line 30, ../sass/base/_header.scss */
#header .nav li a:hover {
  padding-bottom: 2px;
  border-bottom: solid 2px #fff;
}

/* line 1, ../sass/base/_footer.scss */
#footer {
  width: 100%;
  height: 262px;
  background: url(../images/footer_bg.png) repeat-x;
}
/* line 6, ../sass/base/_footer.scss */
#footer .layout {
  position: relative;
}
/* line 10, ../sass/base/_footer.scss */
#footer .vice {
  position: absolute;
  top: -45px;
  left: 0;
  width: 83px;
  height: 237px;
  background: url(../images/footer_vice_bg.png) no-repeat;
}
/* line 19, ../sass/base/_footer.scss */
#footer .main {
  position: absolute;
  top: 0;
  left: 120px;
}
/* line 24, ../sass/base/_footer.scss */
#footer .main .block {
  float: left;
  margin-right: 100px;
}
/* line 29, ../sass/base/_footer.scss */
#footer .main .block .title {
  height: 55px;
  margin-bottom: 10px;
  line-height: 0;
  font-size: 0;
}
/* line 35, ../sass/base/_footer.scss */
#footer .main .block .title.t-friend-link {
  width: 167px;
  background: url(../images/footer_friend_link_bg.png) no-repeat 0 15px;
}
/* line 40, ../sass/base/_footer.scss */
#footer .main .block .title.t-share {
  width: 167px;
  background: url(../images/footer_share_bg.png) no-repeat 0 15px;
}
/* line 45, ../sass/base/_footer.scss */
#footer .main .block .title.t-contact {
  width: 167px;
  background: url(../images/footer_contact_bg.png) no-repeat 0 15px;
}
/* line 53, ../sass/base/_footer.scss */
#footer .main .block .nav li {
  line-height: 20px;
}
/* line 57, ../sass/base/_footer.scss */
#footer .main .block .nav li a {
  color: #333;
  text-decoration: none;
}
/* line 61, ../sass/base/_footer.scss */
#footer .main .block .nav li a:hover {
  text-decoration: underline;
}

/* line 6, ../sass/base/_banner.scss */
#banner {
  background: #eee5d0;
}

/* line 1, ../sass/base/_content.scss */
#content {
  min-height: 300px;
  padding: 30px 0;
}

/* line 8, ../sass/base/_case.scss */
.case-top {
  padding: 20px 0;
  *zoom: 1;
}
/* line 4, ../sass/_mixin.scss */
.case-top:before, .case-top:after {
  display: table;
  content: "";
}
/* line 8, ../sass/_mixin.scss */
.case-top:after {
  clear: both;
}
/* line 12, ../sass/base/_case.scss */
.case-top .pic {
  width: 623px;
  float: left;
}
/* line 16, ../sass/base/_case.scss */
.case-top .pic img {
  display: block;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
/* line 22, ../sass/base/_case.scss */
.case-top .info {
  float: left;
  margin-left: 20px;
}
/* line 26, ../sass/base/_case.scss */
.case-top .info a {
  font-size: 24px;
}

/* line 32, ../sass/base/_case.scss */
.case-title {
  margin: 15px 0;
}
/* line 36, ../sass/base/_case.scss */
.case-title h1 {
  font-size: 18px;
  color: #333;
  font-weight: normal;
}
/* line 42, ../sass/base/_case.scss */
.case-title p {
  color: #333;
  padding: 0;
  margin: 0;
}
/* line 48, ../sass/base/_case.scss */
.case-title h2 {
  margin: 0;
}
/* line 52, ../sass/base/_case.scss */
.case-title h2 a {
  display: block;
  width: 800px;
  height: 17px;
  font-size: 0;
  line-height: 0;
  text-indent: 0;
}
/* line 61, ../sass/base/_case.scss */
.case-title h2 .case-title-brand {
  background: url(../images/case_title_brand.gif) no-repeat 0 0;
}
/* line 65, ../sass/base/_case.scss */
.case-title h2 .case-title-graphic {
  background: url(../images/case_title_graphic.gif) no-repeat 0 0;
}
/* line 69, ../sass/base/_case.scss */
.case-title h2 .case-title-digital {
  background: url(../images/case_title_digital.gif) no-repeat 0 0;
}
/* line 73, ../sass/base/_case.scss */
.case-title h2 .case-title-asethetics {
  background: url(../images/case_title_asethetics.gif) no-repeat 0 0;
}
/* line 78, ../sass/base/_case.scss */
.case-title a.more {
  float: right;
  color: #86694D;
}

/* line 84, ../sass/base/_case.scss */
.case-descript {
  font-size: 12px;
  color: #666;
  line-height: 20px;
}

/* line 91, ../sass/base/_case.scss */
.case-banner {
  width: 1004px;
  height: 280px;
  margin: 0 auto;
  padding: 20px 0;
  padding-bottom: 40px;
}
/* line 104, ../sass/base/_case.scss */
.case-banner .case-banner-slide {
  position: relative;
  width: 1004px;
  height: 280px;
  overflow: hidden;
}
/* line 115, ../sass/base/_case.scss */
.case-banner .case-banner-slide .item {
  width: 1004px;
  height: 280px;
  float: left;
}
/* line 121, ../sass/base/_case.scss */
.case-banner .case-banner-slide .item img {
  width: 1004px;
  height: 280px;
  display: block;
}
/* line 129, ../sass/base/_case.scss */
.case-banner .case-banner-trigger {
  text-align: center;
}
/* line 133, ../sass/base/_case.scss */
.case-banner .case-banner-trigger a {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 2px;
  font-size: 0;
  line-height: 0;
  text-indent: -9999;
  background-image: url(../images/case_banner_slide_trigger.png);
  background-repeat: no-repeat;
  background-position: 0 -10px;
}
/* line 146, ../sass/base/_case.scss */
.case-banner .case-banner-trigger a:hover, .case-banner .case-banner-trigger a.active {
  background-position: 0 0;
}

/* line 153, ../sass/base/_case.scss */
.case-nav {
  margin: -33px 0 0 -33px;
  margin-bottom: 20px;
  *zoom: 1;
  padding-bottom: 20px;
  background: url(../images/case_split.gif) no-repeat center bottom;
}
/* line 4, ../sass/_mixin.scss */
.case-nav:before, .case-nav:after {
  display: table;
  content: "";
}
/* line 8, ../sass/_mixin.scss */
.case-nav:after {
  clear: both;
}
/* line 164, ../sass/base/_case.scss */
.case-nav li {
  float: left;
  margin: 33px 0 0 33px;
}
/* line 169, ../sass/base/_case.scss */
.case-nav li .pic {
  position: relative;
  width: 212px;
  height: 137px;
  margin-bottom: 10px;
  border: solid 7px #fff;
}
/* line 177, ../sass/base/_case.scss */
.case-nav li .pic img {
  display: block;
  width: 212px;
  height: 137px;
}
/* line 183, ../sass/base/_case.scss */
.case-nav li .pic .type {
  position: absolute;
  width: 26px;
  height: 32px;
  background: #fff;
  right: 0;
  bottom: 0;
  background-image: url(../images/image_nav_type_bg.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
/* line 195, ../sass/base/_case.scss */
.case-nav li .pic .type.t-vi {
  background-position: -3px -8px;
}
/* line 198, ../sass/base/_case.scss */
.case-nav li .pic .type.t-ps {
  background-position: -30px -8px;
}
/* line 203, ../sass/base/_case.scss */
.case-nav li .pic .typeof {
  position: absolute;
  width: 26px;
  height: 30px;
  background: #fff;
  right: 0;
  bottom: 0;
  font-size: 16px;
  text-align: center;
  line-height: 34px;
  color: #b2b2b2;
  text-transform: uppercase;
}
/* line 219, ../sass/base/_case.scss */
.case-nav li > a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
}
/* line 226, ../sass/base/_case.scss */
.case-nav li > p {
  color: #585858;
}
/* line 228, ../sass/base/_case.scss */
.case-nav li > p span {
  text-transform: uppercase;
}

/* line 235, ../sass/base/_case.scss */
.case-split {
  height: 2px;
  background: url(../images/case_split.gif) no-repeat;
}

/* line 240, ../sass/base/_case.scss */
.case-pager {
  text-align: center;
  color: #3f3f3f;
}
/* line 246, ../sass/base/_case.scss */
.case-pager a {
  display: inline-block;
  color: #3f3f3f;
  padding: 0 10px;
}

/* line 253, ../sass/base/_case.scss */
.case-pager-split {
  padding-top: 15px;
  background: url(../images/case_split.gif) no-repeat center top;
}

/* line 259, ../sass/base/_case.scss */
.case-detail-banner {
  text-align: center;
  padding: 10px 0;
}
/* line 264, ../sass/base/_case.scss */
.case-detail-banner a {
  display: inline-block;
  padding: 0 6px;
  text-decoration: none;
}
/* line 269, ../sass/base/_case.scss */
.case-detail-banner a:hover, .case-detail-banner a.active {
  font-weight: bold;
}

/* line 275, ../sass/base/_case.scss */
.case-detail {
  *zoom: 1;
}
/* line 4, ../sass/_mixin.scss */
.case-detail:before, .case-detail:after {
  display: table;
  content: "";
}
/* line 8, ../sass/_mixin.scss */
.case-detail:after {
  clear: both;
}
/* line 282, ../sass/base/_case.scss */
.case-detail .main {
  width: 690px;
  float: left;
}
/* line 286, ../sass/base/_case.scss */
.case-detail .main img {
  display: block;
  width: 690px;
  margin-bottom: 20px;
}
/* line 293, ../sass/base/_case.scss */
.case-detail .aside {
  width: 285px;
  float: right;
}
/* line 297, ../sass/base/_case.scss */
.case-detail .aside h3 {
  font-size: 12px;
  color: #333;
  line-height: 21px;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}
/* line 306, ../sass/base/_case.scss */
.case-detail .aside .intro {
  margin-bottom: 20px;
}
/* line 310, ../sass/base/_case.scss */
.case-detail .aside .intro p {
  color: #888;
  line-height: 18px;
  padding: 0;
  margin: 0;
}
/* line 319, ../sass/base/_case.scss */
.case-detail .aside .nav li {
  margin-bottom: 8px;
}
/* line 323, ../sass/base/_case.scss */
.case-detail .aside .nav li a {
  color: #333;
}

/* line 7, ../sass/base/_contact.scss */
.contact-banner {
  text-align: center;
  padding: 20px 0;
  padding-top: 200px;
  background: url(../images/contact_banner.png) no-repeat center top;
}
/* line 14, ../sass/base/_contact.scss */
.contact-banner h3 {
  color: #333;
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

/* line 27, ../sass/base/_contact.scss */
.contact-link {
  margin-bottom: 20px;
  *zoom: 1;
}
/* line 4, ../sass/_mixin.scss */
.contact-link:before, .contact-link:after {
  display: table;
  content: "";
}
/* line 8, ../sass/_mixin.scss */
.contact-link:after {
  clear: both;
}
/* line 32, ../sass/base/_contact.scss */
.contact-link .info {
  width: 402px;
  float: left;
  padding-bottom: 60px;
  background: url(../images/contact_link.gif) no-repeat left bottom;
}
/* line 39, ../sass/base/_contact.scss */
.contact-link .info h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
/* line 45, ../sass/base/_contact.scss */
.contact-link .info h3 {
  font-size: 14px;
  font-weight: bold;
  color: #414141;
  padding: 0;
  margin-bottom: 5px;
}
/* line 53, ../sass/base/_contact.scss */
.contact-link .info p {
  font-size: 14px;
  color: #777;
  margin: 0;
  padding: 0;
  line-height: 22px;
  font-weight: normal;
}
/* line 61, ../sass/base/_contact.scss */
.contact-link .info p em {
  font-weight: bold;
  color: #000;
}
/* line 67, ../sass/base/_contact.scss */
.contact-link .info .block {
  margin-bottom: 30px;
}
/* line 72, ../sass/base/_contact.scss */
.contact-link .map {
  width: 579px;
  float: right;
}

/* line 78, ../sass/base/_contact.scss */
.contact-service {
  min-height: 300px;
  padding-top: 50px;
  background: url(../images/contact_service_bg.jpg) no-repeat center top;
}
/* line 85, ../sass/base/_contact.scss */
.contact-service .hd h3 {
  font-size: 28px;
  margin: 0;
  padding: 0;
}
/* line 90, ../sass/base/_contact.scss */
.contact-service .hd p {
  font-size: 28px;
  margin: 0;
  padding: 0;
  color: #333;
  text-transform: uppercase;
}
/* line 99, ../sass/base/_contact.scss */
.contact-service .bd {
  *zoom: 1;
}
/* line 4, ../sass/_mixin.scss */
.contact-service .bd:before, .contact-service .bd:after {
  display: table;
  content: "";
}
/* line 8, ../sass/_mixin.scss */
.contact-service .bd:after {
  clear: both;
}
/* line 103, ../sass/base/_contact.scss */
.contact-service .bd .main {
  width: 730px;
  float: left;
}
/* line 107, ../sass/base/_contact.scss */
.contact-service .bd .main strong {
  font-size: 14px;
  color: #000;
  font-weight: normal;
}
/* line 113, ../sass/base/_contact.scss */
.contact-service .bd .main em {
  color: #920000;
  font-size: 16px;
  font-weight: bold;
}
/* line 119, ../sass/base/_contact.scss */
.contact-service .bd .main .block {
  width: 230px;
  float: left;
  margin-right: 5px;
}
/* line 127, ../sass/base/_contact.scss */
.contact-service .bd .side {
  width: 254px;
  height: 200px;
  padding-left: 20px;
  float: right;
  background: url(../images/contact_service_split.gif) no-repeat left top;
}
/* line 135, ../sass/base/_contact.scss */
.contact-service .bd .side h5 {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}
/* line 142, ../sass/base/_contact.scss */
.contact-service .bd .side .t-qq,
.contact-service .bd .side .t-mail {
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}
/* line 148, ../sass/base/_contact.scss */
.contact-service .bd .side .t-qq {
  width: 120px;
  height: 60px;
  margin-bottom: 20px;
  background: url(../images/contact_qq.jpg) no-repeat 0 0;
}
/* line 155, ../sass/base/_contact.scss */
.contact-service .bd .side .t-mail {
  width: 228px;
  height: 64px;
  background: url(../images/contact_mail.jpg) no-repeat 0 0;
}
/* line 165, ../sass/base/_contact.scss */
.contact-service .bd form input,
.contact-service .bd form label {
  display: block;
}
/* line 169, ../sass/base/_contact.scss */
.contact-service .bd form label {
  font-size: 12px;
  color: #6e6e6e;
  line-height: 26px;
}
/* line 176, ../sass/base/_contact.scss */
.contact-service .bd form input,
.contact-service .bd form textarea {
  width: 220px;
  line-height: 18px;
  padding: 2px;
  border: none;
  border: solid 1px #c7c6c2;
  background: #F1EFE9;
  outline: 0;
}
/* line 185, ../sass/base/_contact.scss */
.contact-service .bd form input:focus,
.contact-service .bd form textarea:focus {
  border-color: #666;
}
/* line 190, ../sass/base/_contact.scss */
.contact-service .bd form input {
  height: 18px;
}
/* line 194, ../sass/base/_contact.scss */
.contact-service .bd form textarea {
  resize: none;
}

/* line 1, ../sass/base/_recruitment.scss */
.recruitment-banner {
  height: 273px;
  line-height: 0;
  font-size: 0;
  text-indent: -9999;
  padding-bottom: 40px;
  background: url(../images/recruitment_banner.png) no-repeat center 20px;
}

/* line 10, ../sass/base/_recruitment.scss */
.recruitment {
  padding-top: 10px;
  border-top: solid 1px #a09f9b;
  *zoom: 1;
}
/* line 4, ../sass/_mixin.scss */
.recruitment:before, .recruitment:after {
  display: table;
  content: "";
}
/* line 8, ../sass/_mixin.scss */
.recruitment:after {
  clear: both;
}
/* line 20, ../sass/base/_recruitment.scss */
.recruitment .infobox {
  width: 580px;
  float: left;
}
/* line 26, ../sass/base/_recruitment.scss */
.recruitment .infobox .jobs h3 {
  font-size: 14px;
}
/* line 30, ../sass/base/_recruitment.scss */
.recruitment .infobox .jobs p {
  line-height: 16px;
  color: #333;
}
/* line 34, ../sass/base/_recruitment.scss */
.recruitment .infobox .jobs p a {
  color: #888;
}
/* line 42, ../sass/base/_recruitment.scss */
.recruitment .infobox .online strong {
  color: #000;
}
/* line 46, ../sass/base/_recruitment.scss */
.recruitment .infobox .online ol {
  padding: 0;
  padding-left: 20px;
  color: #333;
}
/* line 52, ../sass/base/_recruitment.scss */
.recruitment .infobox .online ol li {
  margin-bottom: 8px;
}
/* line 59, ../sass/base/_recruitment.scss */
.recruitment .hirebox {
  width: 385px;
  float: right;
}
/* line 63, ../sass/base/_recruitment.scss */
.recruitment .hirebox ol {
  padding: 0;
  margin: 0;
  padding-left: 20px;
  font-size: 14px;
}
/* line 70, ../sass/base/_recruitment.scss */
.recruitment .hirebox ol h4 {
  font-size: 14px;
}
/* line 74, ../sass/base/_recruitment.scss */
.recruitment .hirebox ol p {
  line-height: 16px;
}
/* line 80, ../sass/base/_recruitment.scss */
.recruitment .block-title {
  font-size: 12px;
  font-weight: bold;
  color: #333;
  padding: 10px 0;
  border-bottom: solid 1px #343434;
}
/* line 89, ../sass/base/_recruitment.scss */
.recruitment .block-title.t-person, .recruitment .block-title.t-online, .recruitment .block-title.t-setting {
  background-image: url(../images/recruitment_icon.png);
  background-repeat: no-repeat;
  background-position: 0 4px;
  padding-left: 30px;
}
/* line 96, ../sass/base/_recruitment.scss */
.recruitment .block-title.t-online {
  background-position: 0 -45px;
}
/* line 99, ../sass/base/_recruitment.scss */
.recruitment .block-title.t-setting {
  background-position: 0 -98px;
}
/* line 104, ../sass/base/_recruitment.scss */
.recruitment form {
  display: block;
  padding: 10px 0;
}
/* line 109, ../sass/base/_recruitment.scss */
.recruitment form .control-group {
  margin-bottom: 10px;
  *zoom: 1;
}
/* line 4, ../sass/_mixin.scss */
.recruitment form .control-group:before, .recruitment form .control-group:after {
  display: table;
  content: "";
}
/* line 8, ../sass/_mixin.scss */
.recruitment form .control-group:after {
  clear: both;
}
/* line 114, ../sass/base/_recruitment.scss */
.recruitment form .control-label {
  display: block;
  width: 80px;
  padding-left: 100px;
  float: left;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  line-height: 22px;
}
/* line 123, ../sass/base/_recruitment.scss */
.recruitment form .control-label:before {
  content: "*";
  color: #d13e00;
  margin-right: 3px;
}
/* line 130, ../sass/base/_recruitment.scss */
.recruitment form .controls {
  width: 380px;
  float: right;
}
/* line 135, ../sass/base/_recruitment.scss */
.recruitment form input[type=text] {
  width: 240px;
  border: none;
  border: solid 1px #918f8c;
  height: 18px;
  line-height: 18px;
  padding: 2px;
  outline: 0;
  background: none;
}
/* line 144, ../sass/base/_recruitment.scss */
.recruitment form input[type=text]:focus {
  border-color: #000;
}
/* line 149, ../sass/base/_recruitment.scss */
.recruitment form .form-action {
  border-top: solid 1px #92918e;
  padding-top: 10px;
}
/* line 153, ../sass/base/_recruitment.scss */
.recruitment form .form-action button {
  display: block;
  margin: 0 auto;
}

/* line 1, ../sass/base/_shop.scss */
.shop-banner {
  width: 970px;
  height: 328px;
  padding: 20px 0;
  margin: 0 auto;
}
/* line 8, ../sass/base/_shop.scss */
.shop-banner img {
  display: block;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* line 14, ../sass/base/_shop.scss */
.shop-menu-nav {
  width: 969px;
  margin: 0 auto;
  margin-bottom: 10px;
}
/* line 20, ../sass/base/_shop.scss */
.shop-menu-nav ul.nav {
  margin-left: -4px;
  *zoom: 1;
}
/* line 4, ../sass/_mixin.scss */
.shop-menu-nav ul.nav:before, .shop-menu-nav ul.nav:after {
  display: table;
  content: "";
}
/* line 8, ../sass/_mixin.scss */
.shop-menu-nav ul.nav:after {
  clear: both;
}
/* line 25, ../sass/base/_shop.scss */
.shop-menu-nav ul.nav li {
  float: left;
  margin-left: 3px;
}
/* line 30, ../sass/base/_shop.scss */
.shop-menu-nav ul.nav li a {
  display: block;
  width: 103px;
  height: 41px;
  background: url(../images/shop_nav_bg.png) no-repeat 0 0;
  text-align: center;
  line-height: 41px;
  font-weight: bold;
  color: #666;
}
/* line 41, ../sass/base/_shop.scss */
.shop-menu-nav ul.nav li a:hover {
  text-decoration: none;
  background-position: 0 -50px;
  color: #fff;
}

/* line 52, ../sass/base/_shop.scss */
.shop-list {
  width: 969px;
  margin: 0 auto;
  margin-bottom: 20px;
}
/* line 58, ../sass/base/_shop.scss */
.shop-list ul.nav {
  margin: -19px 0 0 -19px;
  *zoom: 1;
}
/* line 4, ../sass/_mixin.scss */
.shop-list ul.nav:before, .shop-list ul.nav:after {
  display: table;
  content: "";
}
/* line 8, ../sass/_mixin.scss */
.shop-list ul.nav:after {
  clear: both;
}
/* line 65, ../sass/base/_shop.scss */
.shop-list ul.nav li {
  width: 210px;
  padding: 9px;
  background: #fff;
  text-align: center;
  float: left;
  margin: 19px 0 0 19px;
}
/* line 74, ../sass/base/_shop.scss */
.shop-list ul.nav li img {
  width: 210px;
  height: 184px;
}
/* line 80, ../sass/base/_shop.scss */
.shop-list ul.nav li h3,
.shop-list ul.nav li p {
  padding: 0;
  margin: 0;
  line-height: 20px;
}

/* line 89, ../sass/base/_shop.scss */
.shop-pager {
  text-align: center;
  padding-top: 20px;
  background: url(../images/shop_pager_bg.png) no-repeat;
}
/* line 95, ../sass/base/_shop.scss */
.shop-pager,
.shop-pager a {
  color: #8f8e8c;
}

/* line 100, ../sass/base/_shop.scss */
.shop-detail {
  padding-bottom: 20px;
  border-bottom: dashed 1px #bbb;
  *zoom: 1;
}
/* line 4, ../sass/_mixin.scss */
.shop-detail:before, .shop-detail:after {
  display: table;
  content: "";
}
/* line 8, ../sass/_mixin.scss */
.shop-detail:after {
  clear: both;
}
/* line 106, ../sass/base/_shop.scss */
.shop-detail .face {
  width: 424px;
  float: left;
}
/* line 111, ../sass/base/_shop.scss */
.shop-detail .face img {
  width: 424px;
}
/* line 117, ../sass/base/_shop.scss */
.shop-detail .info {
  margin-left: 464px;
  font-size: 12px;
  line-height: 22px;
  padding-top: 80px;
}
/* line 123, ../sass/base/_shop.scss */
.shop-detail .info h1 {
  font-size: 16px;
  color: #333;
}
/* line 128, ../sass/base/_shop.scss */
.shop-detail .info p {
  color: #686868;
}
/* line 132, ../sass/base/_shop.scss */
.shop-detail .info a {
  color: #a2201f;
}
/* line 138, ../sass/base/_shop.scss */
.shop-detail .info h1,
.shop-detail .info p,
.shop-detail .info a {
  padding: 0;
  margin: 0;
}

/* line 145, ../sass/base/_shop.scss */
.shop-detail-more {
  padding-bottom: 20px;
  border-bottom: dashed 1px #bbb;
}
/* line 150, ../sass/base/_shop.scss */
.shop-detail-more h2 {
  width: 969px;
  margin: 10px auto;
  font-size: 14px;
  color: #666;
}

/* line 1, ../sass/base/_school.scss */
.school-priceform-banner {
  padding: 30px 0;
}

/* line 5, ../sass/base/_school.scss */
.school-intro {
  *zoom: 1;
  margin-bottom: 20px;
}
/* line 4, ../sass/_mixin.scss */
.school-intro:before, .school-intro:after {
  display: table;
  content: "";
}
/* line 8, ../sass/_mixin.scss */
.school-intro:after {
  clear: both;
}
/* line 10, ../sass/base/_school.scss */
.school-intro .main {
  width: 730px;
  float: left;
  line-height: 18px;
  background: url(../images/school_intro_bg.png) no-repeat right center;
}
/* line 18, ../sass/base/_school.scss */
.school-intro .main h2,
.school-intro .main p {
  margin: 0;
  padding: 0;
}
/* line 23, ../sass/base/_school.scss */
.school-intro .main h2 {
  margin-bottom: 10px;
  font-size: 16px;
}
/* line 29, ../sass/base/_school.scss */
.school-intro .reg {
  float: right;
  padding: 50px 50px 0 0;
}
/* line 34, ../sass/base/_school.scss */
.school-intro .reg a {
  width: 172px;
  height: 61px;
  display: block;
  background: url(../images/school_intro_reg.png) no-repeat 0 0;
  font-size: 0;
  line-height: 0;
  text-indent: -9999;
}

/* line 46, ../sass/base/_school.scss */
.school-priceform {
  width: 840px;
  min-height: 300px;
  background: #fff;
  margin-bottom: 20px;
  padding: 40px 82px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
/* line 55, ../sass/base/_school.scss */
.school-priceform h1 {
  width: 285px;
  height: 43px;
  margin: 0 auto;
  line-height: 0;
  font-size: 0;
  text-indent: -9999;
  margin-bottom: 20px;
  background: url(../images/school_priceform_title.png) no-repeat 0 0;
}
/* line 66, ../sass/base/_school.scss */
.school-priceform table {
  width: 100%;
  font-size: 12px;
}
/* line 71, ../sass/base/_school.scss */
.school-priceform table td {
  padding: 5px;
  text-align: center;
}
/* line 76, ../sass/base/_school.scss */
.school-priceform table thead {
  border-top: solid 3px #898989;
}
/* line 78, ../sass/base/_school.scss */
.school-priceform table thead td {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 82, ../sass/base/_school.scss */
.school-priceform table thead td.t-course {
  width: 300px;
  text-align: left;
}
/* line 89, ../sass/base/_school.scss */
.school-priceform table tbody {
  color: #787776;
}
/* line 93, ../sass/base/_school.scss */
.school-priceform table tbody tr {
  border-top: solid 1px #b7b8b8;
}
/* line 97, ../sass/base/_school.scss */
.school-priceform table tbody td {
  height: 50px;
}
/* line 102, ../sass/base/_school.scss */
.school-priceform table ol {
  text-align: left;
  padding-left: 18px;
}

/* line 109, ../sass/base/_school.scss */
.school-statement {
  *zoom: 1;
}
/* line 4, ../sass/_mixin.scss */
.school-statement:before, .school-statement:after {
  display: table;
  content: "";
}
/* line 8, ../sass/_mixin.scss */
.school-statement:after {
  clear: both;
}
/* line 113, ../sass/base/_school.scss */
.school-statement .main {
  width: 600px;
  float: left;
  color: #666;
}
/* line 118, ../sass/base/_school.scss */
.school-statement .main h3 {
  font-size: 12px;
}
/* line 122, ../sass/base/_school.scss */
.school-statement .main ol {
  padding-left: 20px;
}
/* line 127, ../sass/base/_school.scss */
.school-statement .download {
  float: right;
  padding: 0 30px 0 0;
}
/* line 131, ../sass/base/_school.scss */
.school-statement .download a {
  display: block;
  width: 117px;
  height: 106px;
  font-size: 0;
  line-height: 0;
  text-indent: -9999;
  background: url(../images/school_statement_bg.png) no-repeat 0 0;
}

/* line 145, ../sass/base/_school.scss */
.school-apply .applyform {
  position: relative;
  width: 685px;
  height: 832px;
  margin: 0 auto;
  background: url(../images/school_apply_form.png) no-repeat 0 0;
}
/* line 154, ../sass/base/_school.scss */
.school-apply input[type="text"] {
  display: block;
  position: absolute;
  width: 100px;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  background: none;
  border: none;
  outline: none;
}
/* line 169, ../sass/base/_school.scss */
.school-apply input[type="checkbox"],
.school-apply input[type="radio"] {
  display: block;
  position: absolute;
}

/* line 1, ../sass/base/_client.scss */
.client-form-banner {
  height: 169px;
  padding: 40px 0;
  line-height: 0;
  font-size: 0;
  text-indent: -9999;
  background: url(../images/client_form_banner.png) no-repeat center;
}

/* line 11, ../sass/base/_client.scss */
.client-form {
  width: 308px;
  margin: 0 auto;
  margin-bottom: 20px;
}
/* line 19, ../sass/base/_client.scss */
.client-form .form .control-label {
  text-align: left;
  width: 50px;
}
/* line 25, ../sass/base/_client.scss */
.client-form .form .controls {
  margin-left: 50px;
}

/* line 32, ../sass/base/_client.scss */
.client-form-tip {
  padding: 0 250px;
  color: #414141;
  border-top: solid 1px #dadada;
}
/* line 38, ../sass/base/_client.scss */
.client-form-tip h3 {
  font-size: 12px;
  font-weight: normal;
}
/* line 43, ../sass/base/_client.scss */
.client-form-tip ol {
  padding-left: 20px;
}
/* line 47, ../sass/base/_client.scss */
.client-form-tip ol li {
  color: #414141;
  line-height: 20px;
}
/* line 53, ../sass/base/_client.scss */
.client-form-tip p {
  padding-left: 20px;
  color: #8b8b8b;
}

/* line 59, ../sass/base/_client.scss */
.client-view {
  text-align: center;
}
/* line 63, ../sass/base/_client.scss */
.client-view .showbox {
  width: 800px;
  margin: 0 auto;
}
/* line 68, ../sass/base/_client.scss */
.client-view .showbox img {
  width: 800px;
  min-height: 350px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* line 1, ../sass/base/_home.scss */
.home-intro {
  padding-bottom: 40px;
  margin-bottom: 30px;
  background: url(../images/home_intro_bg.png) no-repeat center bottom;
  *zoom: 1;
}
/* line 4, ../sass/_mixin.scss */
.home-intro:before, .home-intro:after {
  display: table;
  content: "";
}
/* line 8, ../sass/_mixin.scss */
.home-intro:after {
  clear: both;
}

/* line 9, ../sass/base/_home.scss */
.home-intro-nav {
  float: left;
  *zoom: 1;
}
/* line 4, ../sass/_mixin.scss */
.home-intro-nav:before, .home-intro-nav:after {
  display: table;
  content: "";
}
/* line 8, ../sass/_mixin.scss */
.home-intro-nav:after {
  clear: both;
}
/* line 14, ../sass/base/_home.scss */
.home-intro-nav li {
  width: 252px;
  float: left;
  background: url(../images/home_intro_nav_split.png) no-repeat right center;
}
/* line 20, ../sass/base/_home.scss */
.home-intro-nav li img {
  display: block;
  width: 240px;
  height: 180px;
  margin: 0 auto;
}
/* line 27, ../sass/base/_home.scss */
.home-intro-nav li a.more {
  display: block;
  padding: 10px 0;
  text-align: center;
}

/* line 35, ../sass/base/_home.scss */
.home-wechat {
  float: right;
  width: 249px;
}
/* line 40, ../sass/base/_home.scss */
.home-wechat img {
  display: block;
  margin: 0 auto;
}
/* line 46, ../sass/base/_home.scss */
.home-wechat h3,
.home-wechat p {
  text-align: center;
  padding: 0;
  margin: 0;
}
/* line 52, ../sass/base/_home.scss */
.home-wechat h3 {
  padding: 10px 0;
}
/* line 56, ../sass/base/_home.scss */
.home-wechat p {
  line-height: 20px;
}

/* line 61, ../sass/base/_home.scss */
.home-service {
  *zoom: 1;
}
/* line 4, ../sass/_mixin.scss */
.home-service:before, .home-service:after {
  display: table;
  content: "";
}
/* line 8, ../sass/_mixin.scss */
.home-service:after {
  clear: both;
}

/* line 66, ../sass/base/_home.scss */
.home-principle {
  width: 370px;
  padding: 0 30px;
  float: left;
  background: url(../images/home_service_split.png) no-repeat right center;
}
/* line 73, ../sass/base/_home.scss */
.home-principle h3 {
  font-size: 0;
  line-height: 0;
  text-indent: -9999;
  width: 350px;
  height: 101px;
  background: url(../images/home_principle_title.png) no-repeat;
}
/* line 82, ../sass/base/_home.scss */
.home-principle p {
  color: #333;
  line-height: 16px;
}

/* line 88, ../sass/base/_home.scss */
.home-case {
  width: 575px;
  float: right;
}

/* line 94, ../sass/base/_home.scss */
.home-case-nav {
  padding-left: 60px;
}
/* line 98, ../sass/base/_home.scss */
.home-case-nav li {
  margin-bottom: 20px;
  *zoom: 1;
}
/* line 4, ../sass/_mixin.scss */
.home-case-nav li:before, .home-case-nav li:after {
  display: table;
  content: "";
}
/* line 8, ../sass/_mixin.scss */
.home-case-nav li:after {
  clear: both;
}
/* line 103, ../sass/base/_home.scss */
.home-case-nav li .pic {
  position: relative;
  width: 212px;
  height: 137px;
  margin-bottom: 10px;
  border: solid 7px #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  float: left;
}
/* line 114, ../sass/base/_home.scss */
.home-case-nav li .pic img {
  display: block;
  width: 212px;
  height: 137px;
}
/* line 120, ../sass/base/_home.scss */
.home-case-nav li .pic .typeof {
  position: absolute;
  width: 26px;
  height: 30px;
  background: #fff;
  right: 0;
  bottom: 0;
  font-size: 16px;
  text-align: center;
  line-height: 34px;
  color: #b2b2b2;
  text-transform: uppercase;
}
/* line 136, ../sass/base/_home.scss */
.home-case-nav li .info {
  margin-left: 252px;
  *zoom: 1;
}
/* line 4, ../sass/_mixin.scss */
.home-case-nav li .info:before, .home-case-nav li .info:after {
  display: table;
  content: "";
}
/* line 8, ../sass/_mixin.scss */
.home-case-nav li .info:after {
  clear: both;
}
/* line 140, ../sass/base/_home.scss */
.home-case-nav li .info a.title {
  font-weight: bold;
  color: #000;
  line-height: 25px;
}
/* line 146, ../sass/base/_home.scss */
.home-case-nav li .info a.more {
  float: right;
  color: #bbb;
  line-height: 24px;
}
/* line 153, ../sass/base/_home.scss */
.home-case-nav li .info p {
  color: #333;
  padding: 0;
  margin: 0;
  line-height: 18px;
}
