/* line 7, ../sass/sass/admin.scss */
#header {
  overflow: hidden;
  *zoom: 1;
}

/* line 11, ../sass/sass/admin.scss */
#header .layout {
  max-width: 1200px;
  margin: 0 auto;
}
/* line 15, ../sass/sass/admin.scss */
#header .layout .brand {
  display: block;
  width: 180px;
  padding: 0;
  margin: 0;
  height: 38px;
}

/* line 24, ../sass/sass/admin.scss */
#content {
  padding: 0 20px;
  min-width: 940px;
  max-width: 1200px;
  padding-top: 41px;
  margin: 0 auto;
}

/* line 32, ../sass/sass/admin.scss */
#footer {
  max-width: 1200px;
  margin: 0 auto;
}
/* line 36, ../sass/sass/admin.scss */
#footer > .inner {
  color: #bbb;
  font-size: 10px;
  padding: 5px 0;
  padding-left: 185px;
}

/* line 45, ../sass/sass/admin.scss */
.mainarea {
  margin-left: 180px;
  min-height: 600px;
  border: solid 1px #ddd;
  border-top: none;
  background: #fff;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* line 54, ../sass/sass/admin.scss */
.mainarea > .inner {
  padding: 20px 40px;
}

/* line 60, ../sass/sass/admin.scss */
.sidebar {
  width: 160px;
  padding-top: 20px;
  float: left;
}
/* line 65, ../sass/sass/admin.scss */
.sidebar > .inner {
  position: fixed;
  width: 160px;
}

/* line 73, ../sass/sass/admin.scss */
.nav-sidebar > li > a {
  padding: 6px 15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  overflow: hidden;
  *zoom: 1;
}
/* line 78, ../sass/sass/admin.scss */
.nav-sidebar > li > a > i {
  float: right;
  opacity: .5;
}
/* line 86, ../sass/sass/admin.scss */
.nav-sidebar > li.active > a > i {
  opacity: 1;
}

/* line 94, ../sass/sass/admin.scss */
.section-title {
  border-bottom: solid 1px #e5e5e5;
  margin-bottom: 20px;
  overflow: hidden;
  *zoom: 1;
}
/* line 99, ../sass/sass/admin.scss */
.section-title h1 {
  float: left;
  font-size: 21px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
/* line 108, ../sass/sass/admin.scss */
.section-title .bar {
  float: right;
}
